node_modules/
build/
.env
.vscode/
.DS_Store
*.log
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
coverage/
package-lock.json
yarn-error.log
npm-debug.log*
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.tmp
*.bak
*.orig  